<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
  <link rel="stylesheet" href="{% static "blog/styles.css" %}" type="text/css">
  <title>{{ titlebar }}</title>
</head>

<body>
<div id="pagewrap">

{% block page_title %}
<div id="page_head">
<h1>{{ page_title }}</h1>
</div>
{% endblock page_title %}

{% block page_content %}
{% endblock page_content %}


<div id="pagefoot">
  <h1 class="sitetitle"><a href="{% url 'homepage' %}">{{ site_title }}</a></h1>
  <ul>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'archive' %}">Archive</a></li>
  </ul>
</div>

</div><!-- end pagewrap div -->
</body>
</html>

