{% extends 'blog/base.html' %}

{% load naturaltime from humanize %}

{% block extra_js %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script>
  var comments = {{ comments|safe }};
  var sortOrder = 'd';  // current state of ordering

  function sortCommentsAscending(a, b)
  {
    var x = moment(a.fields.date);
    var y = moment(b.fields.date);

    if (x.isBefore(y)) {
      return -1;
    }
    else if (x.isAfter(y)) {
      return 1;
    }
    else {
      return 0;
    }
  }

  function sortCommentsDescending(a, b)
  {
    return sortCommentsAscending(b, a);
  }

  function displayComments()
  {
    if (sortOrder === 'a') {
      sortOrder = 'd';
      comments.sort(sortCommentsAscending);
      $('#sortButton').html('<i class="fa fa-sort-asc"></i>');
      $('#sortButton').prop('title', 'Sort comments ascending');
    }
    else {
      sortOrder = 'a';
      comments.sort(sortCommentsDescending);
      $('#sortButton').html('<i class="fa fa-sort-desc"></i>');
      $('#sortButton').prop('title', 'Sort comments descending');
    }

    var commentsHTML = '';

    for (var i=0; i<comments.length; i++) {
      var author = comments[i].fields.author;
      var date = moment(comments[i].fields.date).fromNow();
      var text = comments[i].fields.text;

      commentsHTML += '<div class="comment"> <p class="comment_header"> <span class="comment_author">' + author + '</span> <span class="comment_date">(' + date + ')</span> </p> <p class="comment_text">' + text + '</p> </div>';
    }
    $('#commentsList').html(commentsHTML);
  }

  // comments display in descending order by default
  $(document).ready(function() { displayComments('d') });
</script>

{% endblock extra_js %}

{% block extra_css %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/forms-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/buttons-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock extra_css %}

{% block page_title %}
{% endblock page_title %}

{% block page_content %}

{% include 'blog/post_content.html' %}

<div class="comments">
  <h2>Comments</h2>
  <div class="comment_form">
    <form method="POST" action="{% url 'comment' post_pk=post.pk %}" class="pure-form pure-form-aligned">
      {% csrf_token %}
      <fieldset>
        {% for field in comment_form %}
            <div class="pure-control-group">
              {{ field.label_tag }}{{ field }}
            </div>
        {% endfor %}
        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary submit_comment">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
  <button id="sortButton" class="pure-button" onclick="displayComments()"></button>
  
  <div id="commentsList"></div>

</div> <!-- end comments -->
</div> <!-- end article -->

{% endblock page_content %}

